<!DOCTYPE html>
<html>
<head>

	<meta charset="utf-8">
	<title>始めて -「茶粥」</title>

	<link rel="shortcut icon" href="/static/img/favicon.ico">
	<link rel="stylesheet" href="/static/css/reset.css">
	<link rel="stylesheet" href="/static/css/bootstrap.min.css">
	<link rel="stylesheet" href="/static/css/common.css">
	<link rel="stylesheet" href="/static/css/login.css">
	<script src="/static/js/lib/sea.js" data-main="/static/js/loginit"></script>


</head>

<body>
	<div id="wrap">
	
		<div id="content">
			<div id="login">
				<div id="patternl" class="lgsection"></div>
				<div id="tea" class="lgsection"></div>
				<div id="patternr" class="lgsection"></div>
			</div>
			<div class="slip"></div>
			<div id="info">
				<div id="chakayu">
					<h2>茶粥</h3>
					<br><br>
					<p>「ちゃかゆ」，茶泡饭。</p>
					<p>放上一颗话梅，亦或点缀些许的海苔，质朴却最真实。</p>
					<br>
					<p>周围甚是嘈杂，可是这里很安静。</p>
					<p>虽然没有饭碗，你却可以品上一杯香茗。</p>
				</div>
				<div id="action">
					<p id="in"><a href="javascript:coid(0)">请坐</a></p>
					<br>
					<form name="login" method="post" action="/login/in" style="display:none;">
						<span>名号:</span><input name="name" value="" required><br>
						<span>邮箱:</span><input name="email" value="" required><br>
						<button type="submit" class="btn formbtn">入席</button>
					</form>
					<p id="gra">我们使用 <a href="http://gravatar.com">Gravatar</a> 为您的头像进行驱动。</p>
				</div>
			</div>
		<div>

	</div>
</body>
</html>
